/* line 4, ../sass/admin_internalActivity.scss */
.edit {
  width: 100px;
  height: 30px;
  background-color: #44afae;
  color: #fff;
  border: 1px solid #44afae;
  font-size: 18px;
  float: right;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* line 17, ../sass/admin_internalActivity.scss */
.createOldActivity {
  float: none;
  background-color: #44afae;
  color: #fff;
  margin: 0;
}

/* line 26, ../sass/admin_internalActivity.scss */
.ActivityContent {
  width: 80%;
  min-height: 270px;
  margin-top: 20px;
  border: 1px solid #44afae;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #717171;
}
/* line 35, ../sass/admin_internalActivity.scss */
.ActivityContent .activityHeader {
  margin-bottom: 20px;
}
/* line 37, ../sass/admin_internalActivity.scss */
.ActivityContent .activityHeader p {
  display: inline-block;
  margin-right: 20px;
}
/* line 41, ../sass/admin_internalActivity.scss */
.ActivityContent .activityHeader button {
  border: none;
  float: right;
  color: #c0c0c0;
  background: none;
  margin-right: 20px;
}
/* line 49, ../sass/admin_internalActivity.scss */
.ActivityContent textarea, .ActivityContent .divElement {
  width: 100%;
  resize: none;
  min-height: 180px;
  display: block;
  resize: none;
  border: 1px;
  padding: 20px;
  outline: none;
}

/* line 64, ../sass/admin_internalActivity.scss */
.content {
  position: relative;
  min-height: 1000px;
}

/* line 68, ../sass/admin_internalActivity.scss */
.bottomNav {
  width: 100%;
  position: absolute;
  bottom: -80px;
  left: 300px;
}
/* line 73, ../sass/admin_internalActivity.scss */
.bottomNav nav {
  margin: 0 auto;
}

/* line 78, ../sass/admin_internalActivity.scss */
.modal-dialog {
  margin-top: 50px;
  width: 70%;
}
/* line 82, ../sass/admin_internalActivity.scss */
.modal-dialog .modal-body {
  padding: 20px 70px 20px 50px;
}
/* line 85, ../sass/admin_internalActivity.scss */
.modal-dialog .modal-header {
  height: 50px;
}
/* line 25, ../sass/mixin.scss */
.modal-dialog .modal-footer button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
/* line 32, ../sass/mixin.scss */
.modal-dialog .modal-footer .cancelBtn {
  border: 1px solid #44afae;
  background-color: #fff;
  color: #44afae;
  margin-right: 20px;
}
/* line 39, ../sass/mixin.scss */
.modal-dialog .modal-footer .submitBtn {
  border: 1px solid #44afae;
  background-color: #44afae;
  color: #fff;
  margin-right: 30px;
}

/* line 94, ../sass/admin_internalActivity.scss */
.modalForm {
  color: #717171;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
/* line 99, ../sass/admin_internalActivity.scss */
.modalForm input, .modalForm select {
  margin-right: 20px;
  width: 280px;
  height: 25px;
  margin-left: 10px;
  border: 1px solid #dddcdc;
  -webkit-box-shadow: 0px 0px 5px rgba(136, 136, 136, 0.5);
  box-shadow: 0px 0px 5px rgba(136, 136, 136, 0.5);
  color: #717171;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

/* line 115, ../sass/admin_internalActivity.scss */
.editform > div {
  width: 100%;
  position: relative;
  display: inline-block;
}
/* line 121, ../sass/admin_internalActivity.scss */
.editform label {
  width: 150px;
  text-align: right;
}
/* line 125, ../sass/admin_internalActivity.scss */
.editform div.timeInput {
  position: relative;
}
/* line 128, ../sass/admin_internalActivity.scss */
.editform input.timeinput {
  width: 125px;
}
/* line 131, ../sass/admin_internalActivity.scss */
.editform p {
  position: absolute;
  left: 295px;
  top: -5px;
}
/* line 136, ../sass/admin_internalActivity.scss */
.editform textarea {
  width: 500px;
  height: 200px;
  border: 1px solid #dddcdc;
  -webkit-box-shadow: 0px 0px 5px rgba(136, 136, 136, 0.5);
  box-shadow: 0px 0px 5px rgba(136, 136, 136, 0.5);
  color: #717171;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  margin-left: 10px;
  resize: none;
  margin-top: 10px;
  padding: 10px;
}
/* line 150, ../sass/admin_internalActivity.scss */
.editform .textareaLabel {
  margin-top: 5px;
}

/* line 157, ../sass/admin_internalActivity.scss */
#boxCal {
  z-index: 9999;
}
