/* line 3, ../sass/admin_plan.scss */
table, .planTable {
  width: 90%;
  text-align: center;
  color: #717171;
  font-size: 16px;
  font-weight: bold;
}
/* line 11, ../sass/admin_plan.scss */
table thead tr, .planTable thead tr {
  border-bottom: 5px solid #44afae;
}
/* line 12, ../sass/admin_plan.scss */
table thead tr th, .planTable thead tr th {
  text-align: center;
  padding: 10px;
}
/* line 15, ../sass/admin_plan.scss */
table thead tr th:last-child, .planTable thead tr th:last-child {
  color: #d7d7d7;
}
/* line 24, ../sass/admin_plan.scss */
table tbody td, .planTable tbody td {
  padding: 10px;
}
/* line 27, ../sass/admin_plan.scss */
table tbody tr, .planTable tbody tr {
  border-bottom: 2px solid #717171;
}

/* line 34, ../sass/admin_plan.scss */
.edit {
  width: 100px;
  height: 30px;
  background-color: #fff;
  color: #44afae;
  border: 1px solid #44afae;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
  float: left;
}

/* line 46, ../sass/admin_plan.scss */
.create {
  margin-right: 600px;
  background-color: #44afae;
  color: #fff;
}

/* line 51, ../sass/admin_plan.scss */
.show {
  margin-right: 20px;
}

/* line 54, ../sass/admin_plan.scss */
.delete {
  clear: right;
}

/* line 61, ../sass/admin_plan.scss */
.planTable td.memberPlan {
  max-width: 200px;
}
/* line 64, ../sass/admin_plan.scss */
.planTable button {
  color: #1A61A6;
  border: 1px solid #1A61A6;
  background-color: #fff;
  margin-right: 20px;
  width: 100px;
  height: 30px;
}

/* line 77, ../sass/admin_plan.scss */
.modal-dialog {
  margin-top: 50px;
}
/* line 81, ../sass/admin_plan.scss */
.modal-dialog .modal-body {
  padding: 20px 70px 20px 50px;
}
/* line 84, ../sass/admin_plan.scss */
.modal-dialog .modal-header {
  height: 50px;
}
/* line 25, ../sass/mixin.scss */
.modal-dialog .modal-footer button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
/* line 32, ../sass/mixin.scss */
.modal-dialog .modal-footer .cancelBtn {
  border: 1px solid #44afae;
  background-color: #fff;
  color: #44afae;
  margin-right: 20px;
}
/* line 39, ../sass/mixin.scss */
.modal-dialog .modal-footer .submitBtn {
  border: 1px solid #44afae;
  background-color: #44afae;
  color: #fff;
  margin-right: 30px;
}

/* line 92, ../sass/admin_plan.scss */
.modalForm {
  color: #717171;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
/* line 97, ../sass/admin_plan.scss */
.modalForm input, .modalForm select {
  margin-right: 20px;
  width: 280px;
  height: 25px;
  margin-left: 10px;
  border: 1px solid #dddcdc;
  -webkit-box-shadow: 0px 0px 5px rgba(136, 136, 136, 0.5);
  box-shadow: 0px 0px 5px rgba(136, 136, 136, 0.5);
  color: #717171;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

/* line 111, ../sass/admin_plan.scss */
.courseDialog {
  width: 60%;
}
/* line 114, ../sass/admin_plan.scss */
.courseDialog .modalForm select {
  margin-left: 6px;
}
/* line 117, ../sass/admin_plan.scss */
.courseDialog .modalForm p {
  left: 294px;
}

/* line 122, ../sass/admin_plan.scss */
.taskDialog {
  width: 60%;
}
/* line 124, ../sass/admin_plan.scss */
.taskDialog label {
  width: 100px;
}
/* line 127, ../sass/admin_plan.scss */
.taskDialog select {
  margin-left: 6px;
}

/* line 133, ../sass/admin_plan.scss */
.editform > div {
  width: 100%;
  position: relative;
  display: inline-block;
}
/* line 139, ../sass/admin_plan.scss */
.editform label {
  width: 150px;
  text-align: right;
}
/* line 143, ../sass/admin_plan.scss */
.editform div.timeInput {
  position: relative;
}
/* line 146, ../sass/admin_plan.scss */
.editform input.timeinput {
  width: 125px;
}
/* line 149, ../sass/admin_plan.scss */
.editform p {
  position: absolute;
  left: 307px;
  top: -5px;
}

/* line 157, ../sass/admin_plan.scss */
.taskform table, .taskform .planTable {
  margin-left: 15px;
  margin-top: 20px;
}
/* line 160, ../sass/admin_plan.scss */
.taskform table tbody, .taskform .planTable tbody {
  border-top: 5px solid #43b0ae;
}
/* line 163, ../sass/admin_plan.scss */
.taskform table tbody td input, .taskform .planTable tbody td input {
  width: 30px;
}
/* line 170, ../sass/admin_plan.scss */
.taskform .buttonDiv {
  margin: 20px auto;
}
/* line 174, ../sass/admin_plan.scss */
.taskform button {
  background-color: #fff;
  color: #43b0ae;
  border: 1px solid #43b0ae;
  margin-right: 30px;
  margin-left: 30px;
}
/* line 181, ../sass/admin_plan.scss */
.taskform .last {
  float: left;
}
/* line 184, ../sass/admin_plan.scss */
.taskform .next {
  float: right;
}

/* line 193, ../sass/admin_plan.scss */
#boxCal {
  z-index: 9999;
}
