/* line 1, ../sass/header.scss */
.top {
  height: 50px;
  background-color: #1a62a7;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
/* line 7, ../sass/header.scss */
.top p {
  float: right;
  margin-right: 233px;
  margin-top: 15px;
  margin-bottom: 0;
}
/* line 12, ../sass/header.scss */
.top p a {
  color: #fff;
  text-decoration: none;
}
/* line 16, ../sass/header.scss */
.top p span.divide {
  margin-left: 9px;
  margin-right: 9px;
}

/* line 22, ../sass/header.scss */
nav {
  margin-bottom: 0px !important;
}

/* line 26, ../sass/header.scss */
.navbar-brand img {
  margin-left: 233px;
  margin-top: 15px;
}

/* line 32, ../sass/header.scss */
.navbar-default {
  height: 100px;
  background-color: #384068;
  border-color: #384068;
}

/* line 37, ../sass/header.scss */
.navbar {
  border-radius: 0;
}

/* line 40, ../sass/header.scss */
.navbar-default .navbar-nav > li {
  height: 69px;
}

/* line 43, ../sass/header.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
/* line 47, ../sass/header.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

/* line 51, ../sass/header.scss */
ul.navbar-right {
  margin-top: 30px;
  padding-bottom: 0px;
  padding-right: 218px;
  position: relative;
}
/* line 56, ../sass/header.scss */
ul.navbar-right ul.subli {
  position: absolute;
  display: none;
  padding-left: 0px;
  margin-top: 19px;
  margin-left: -30px;
  background-color: #fff;
  border-bottom: 5px #384068 solid;
}
/* line 63, ../sass/header.scss */
ul.navbar-right ul.subli li {
  text-align: center;
  width: 150px;
  line-height: 50px;
  list-style: none;
}
/* line 68, ../sass/header.scss */
ul.navbar-right ul.subli li:hover {
  background-color: #44afae;
}
/* line 70, ../sass/header.scss */
ul.navbar-right ul.subli li:hover a {
  color: #fff;
  text-decoration: none;
}
/* line 75, ../sass/header.scss */
ul.navbar-right ul.subli li a {
  color: #717171;
  font-size: 18px;
  text-decoration: none;
}

/* line 85, ../sass/header.scss */
.maincontent {
  min-height: 1500px;
}
