/* line 3, ../sass/index.scss */
.carousel-indicators {
  text-align: center;
  background-color: #c4c9c8;
  opacity: 0.5;
  width: 100%;
  height: 20px;
  margin-left: 0;
  left: 0 !important;
  bottom: 0;
}

/* line 14, ../sass/index.scss */
#carousel {
  position: relative;
  margin-top: -30px;
}
/* line 17, ../sass/index.scss */
#carousel .item {
  width: 100%;
}
/* line 19, ../sass/index.scss */
#carousel .item img {
  width: 100%;
}
/* line 23, ../sass/index.scss */
#carousel .carousel-indicators {
  margin-bottom: 0;
  height: 50px;
  padding-right: 233px;
}
/* line 27, ../sass/index.scss */
#carousel .carousel-indicators li {
  float: right;
  margin-top: 10px;
  margin-right: 18px;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 100%;
}
/* line 37, ../sass/index.scss */
#carousel .carousel-indicators li.active {
  border-color: #dd514b;
  background-color: #dd514b;
}

/* line 43, ../sass/index.scss */
#divider2 {
  margin-top: 50px;
  height: 50px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  padding-top: 5px;
}

/* line 53, ../sass/index.scss */
#divider2 {
  background-color: #44afae;
}

/* line 57, ../sass/index.scss */
p.tip, p.departmentName, .intro .introheader p.introName {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #717171;
}

/* line 64, ../sass/index.scss */
.logodepartment {
  margin: auto;
  width: 570px;
  border-bottom: 3px solid #44b2ae;
  text-align: center;
}
/* line 69, ../sass/index.scss */
.logodepartment img {
  width: 128px;
  height: 128px;
  margin: 10px auto;
  border: 5px solid #eda5a1;
  border-radius: 100%;
  padding: 10px;
}

/* line 79, ../sass/index.scss */
p.departmentName {
  font-size: 18px;
}

/* line 87, ../sass/index.scss */
.intro {
  margin: 30px auto 50px auto;
  width: 78.9%;
}
/* line 90, ../sass/index.scss */
.intro .introheader {
  border-left: 5px solid #dd5047;
  padding-left: 15px;
}
/* line 92, ../sass/index.scss */
.intro .introheader p.introName {
  font-size: 18px;
  text-align: left;
}
/* line 100, ../sass/index.scss */
.intro .introcontent {
  height: 150px;
  background-color: #1a62a7;
  color: #fff;
  line-height: 20px;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  text-overflow-ellipsis: ellipsis;
}

/* line 111, ../sass/index.scss */
.grade {
  width: 100px;
  height: 50px;
  background-color: #44afae;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
/* line 120, ../sass/index.scss */
.grade p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 10px;
}

/* line 127, ../sass/index.scss */
.card {
  padding-left: 14px;
  margin-bottom: 20px;
}

/* line 132, ../sass/index.scss */
.card > div {
  width: 200px;
  height: 310px;
  background-color: #fff;
  margin-right: 33px;
  padding: 25px;
  -webkit-box-shadow: 5px 5px 3px rgba(136, 136, 136, 0.5);
  box-shadow: 5px 5px 3px rgba(136, 136, 136, 0.5);
}
/* line 140, ../sass/index.scss */
.card > div:last-child {
  margin-right: 0;
}
/* line 143, ../sass/index.scss */
.card > div img.peopleImage {
  border-radius: 100%;
  border: #40b0b1 5px solid;
  margin: -10 25px 20px 25px;
  width: 100px;
  height: 100px;
}
/* line 150, ../sass/index.scss */
.card > div .information {
  margin-bottom: 10px;
  text-align: center;
  border-bottom: solid 5px #43b1ad;
}
/* line 153, ../sass/index.scss */
.card > div .information p {
  font-size: 16px;
  font-weight: bold;
  color: #717171;
}
/* line 161, ../sass/index.scss */
.card > div .detailInformation p {
  font-size: 16px;
  font-weight: bold;
  color: #717171;
}
/* line 165, ../sass/index.scss */
.card > div .detailInformation p span {
  margin-right: 20px;
}
