@charset "utf-8";
@import "mixin";
//-------------------------标题-------------------------
@include header();

.createBtn{
  @include createBtn();
}



.maincontent{
  position: relative;
  min-height: 1600px;
}
.bottomNav{
  width: 100%;
  position:absolute;
  bottom: -80px;
  text-align: center;
  nav{
    margin: 0 auto;
  }
}


.recordContent{
  width: 66.7%;
  margin: 50px auto;
  border-top: 5px solid #43b0ae;
  @include box-shadow(0px 0px 5px rgba(136, 136, 136,.5));
  padding: 20px;
  position: relative;
  color: #717171;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  .recordTip{
    height: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #dd524a;
    p{
      width:250px;;
      display:inline-block;
      margin-bottom: 0;
    }
    img{
      display: inline-block;
      width: 20px;
      cursor: pointer;
    }
  }
  .recordHeader{
    border-left: 5px solid #0001fe;
    height: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  //.recordContenter{
  //  margin-bottom: 100px;
  //}
  .recordTa{
    margin-top: 100px;
    margin-right: 17px;
  }
  .recordTa,.recordTu{
    float: right;
    clear: right;
    //width:200px;
    label,p{
      display: inline-block;
    }
  }
  .clearDiv{
    clear: both;
  }
}

.modal-dialog{
  margin-top: 50px;
  //width: 800px !important;
  width: 60%;
  .modal-body{
    padding: 20px 50px ;
  }
  .modal-header{
    height: 50px;
  }
  .modal-footer{
    @include bottomBtn();
  }
}


.modalForm{
  color: #717171;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  input{
    margin-right: 20px;
    width:120px;
    height: 25px;
    margin-left: 10px;
    border:1px solid #dddcdc;
    @include box-shadow(0px 0px 5px rgba(136, 136, 136,.5));
    color: #717171;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
  }
  textarea{
    //width: 625px;
    height: 200px;
    width: 100%;
    border:1px solid #dddcdc;
    @include box-shadow(0px 0px 5px rgba(136, 136, 136,.5));
    color: #717171;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 10px;
    resize: none;
    margin-top: 10px;
    padding: 10px;
  }
  .textareaLabel{
    margin-top: 5px;
  }
}


.formtips{
  margin-left: 10px;
  img{
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }
  color: #717171;
  font-size: 14px;
}